@media only screen and (max-width: 500px) {

    .col {
        width: 90%;
    }

    .dropdown-plus {
        display: block;
    }

    .dropdown-plus:active {
        color: yellow;
    }
    .plus-dropdown:checked ~ .navbar-h .access {
        display: block;
    }

    .navbar-h .access {
        display: none;
        left: 24%;
        top: 40%;
        position: absolute;
        z-index: 50;
        background-color: #fff;
        align-items: none;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        color: black;
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    }

    .container .row {
        flex-direction: column-reverse;
        position: absolute;
    }

    .container .row .col-1, .container .row .col-2 {
        width: 100%;
    }

    .card {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}